header
{
    background-color: green;
    color: white;
}
header h1
{
    margin: 5px 10px 10px 5px;
    font-family: cursive;
}

main section h1
{
    margin: 20px;
    font-family: cursive;
}
.parrafoprincipal
{
    margin: 20px;
    font-family: cursive;
}
main section a
{
    margin: 20px;
    font-family: cursive;
}
main section h4
{
    margin: 10px;
    margin-top: 40px;
    font-family: cursive;
}
.parrafitos
{
    margin: 10px;
    font-family: cursive;
    text-align: justify;
    margin-bottom: 50px;
}
.links
{
    margin: 10px;
    font-family: cursive;
}

footer
{
    background-color: whitesmoke;
}
.piepagina
{
    margin: 50px;
    font-family: cursive;
    text-align: center;
}