header
{
    background-color: green;
    color: white;
}
header h1
{
    margin: 5px 10px 10px 20px;
    font-family: cursive;
}

.cabecera
{
    background-color: #CEE6D0;
}
main section h1
{
    margin: 20px;
    font-family: cursive;
    text-align: start;
}
.parrafoprincipal
{
    margin: 20px;
    font-family: cursive;
}
main section a
{
    margin: 20px;
    font-family: cursive;
}
main section h4
{
    margin: 10px;
    margin-top: 40px;
    font-family: cursive;
    text-align: start;
}
.parrafitos
{
    margin: 10px;
    font-family: cursive;
    margin-bottom: 50px;
}
.links
{
    margin: 10px;
    font-family: cursive;
}
.orglinks
{
    text-align: start;
}

footer
{
    background-color: whitesmoke;
}
.piepagina
{
    margin: 50px;
    font-family: cursive;
    text-align: center;
}

@media screen and (max-width: 768px)
{
    .cabecera
    {
        background-color: white;
    }
    main section h1
    {
        text-align: center;
    }
    .parrafoprincipal
    {
        margin: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: justify;
    }
    main section h4
    {
        margin-top: 5px;
        text-align: center;
    }
    .parrafitos
    {
        text-align: justify;
        margin: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .orglinks
    {
        text-align: end;
    }
}